h2{
	color: black;
	text-decoration: underline;
}

body{
	background-color: #505050;
	color: white;
	font-family: arial;
	text-align: center;
	line-height: 100%;
}

footer{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
}
	
a{
	color: white;
	text-decoration: none;
}
	
a:hover{
	color: darkred;
}

.linkicon{
	font-size: 300%;
}

.icon{
	font-size: 300%;
}

.icon:hover{
	color: white;
}

.worktext{
	float: right;
	text-align: left;
	width: 70%;
}

.workimg{
	float: left;
	text-align: center;
	width: 30%;
}