body{
	color: black;
	font-family: arial;
	background-image: url("./images/wallpaper.jpg");
	margin: 100px;
}

a{
	color: black;
	text-decoration: none;
}

#header{
	font-weight: bold;
}

#poster{
	width: 100%;
}

a:hover{
	color: #b30000;
}

.linkicon{
	font-size: 300%;
}

.icon{
	font-size: 350%;
}
